*.iml
.gradle
/local.properties
.idea/*
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
.DS_Store
/captures
.externalNativeBuild
.cxx
Thumbs.db
/release
/reports
obj/
gradle/
/gradlew
/gradlew.bat
build/
/symbols
